<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <!-- <title>AutoPods!!!</title>
    <h1> <a href="/"> Home Page! </a></h1>
    <h1> <a href="/riders/login">Log In </a></h1>
    <h1> <a href="/riders/logout">Log Out </a></h1>
    <h1> <a href="/autopods"> See your autopods! </a></h1>
    <h1> <a href="/autopods/:id/edit"> Edit an Autopod! </a></h1>
    <h1> <a href="/autopod/:id/delete">Delete an Autopod! </a></h1> -->

    <div class="sidebar">
      <!-- <h3>Links</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul> -->
      <h1> <a href="/"> Home Page! </a></h1>
      <h1> <a href="/riders/login">Log In </a></h1>
      <h1> <a href="/riders/logout">Log Out </a></h1>
      <h1> <a href="/autopods"> All Autopods </a></h1>
        <h1> <a href="/autopods/new"> Add an Autopod </a></h1>
      <!-- <h1> <a href="/autopods/:id/edit"> Edit an Autopod </a></h1>
      <h1> <a href="/autopods/:id/delete">Delete an Autopod </a></h1> -->
    </div>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2019 <strong>Autopods!!!</strong></small>
      </footer>
    </div>

    <!-- <script src="https://www.arabianbusiness.com/sites/default/files/styles/full_img/public/images/2018/02/11/autonomous-pod.jpg"></script> -->
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
